@keyframes up-down {
	from {
		bottom: 10px;
	}
	to {
		bottom: 10px;
	}
	50% {
		bottom: 0px;
	}
}
@keyframes up-down992 {
	from {
		bottom: 45px;
	}
	to {
		bottom: 45px;
	}
	50% {
		bottom: 35px;
	}
}
@keyframes absolute-call-anim {
	from {
		transform: rotate(0) scale(1, 1);
	}
	to {
		transform: rotate(0) scale(1, 1);
	}
	50% {
		transform: rotate(90deg) scale(1.1, 1.1);
	}
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
section {
	padding: 50px 0;
	@media (min-width:992px) {
		& {
			padding: 75px 0;
		}
	}
}
.c-section__title {
	font-size: 2.4rem;
}

/* header */
.navbar {
	z-index: 1000;
	position: fixed;
	right: 40px;
	top: 20px;
	@media (min-width:992px) {
		& {
			position: static;
		}
	}
}
.navbar-brand {
	img {
		width: 200px;
	}
}
.c-header__toggler, .c-absolute-call__toggler, .c-absolute-call__toggler-sm {
	padding: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	background: #0d6efd;
	border-width: 0;
	border-radius: 50%;
	color: white;
	&:focus, &:hover {
		border: 0;
		box-shadow: none;
		outline: 0;
	}
}
.nav-link {
	color: #fff !important;
	@media (min-width:992px) {
		& {
			color: #000 !important;
		}
	}
}

/* head */
.head {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url('../img/head.jpg') 0 0/cover no-repeat fixed;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background-color: #000000ab;
		position: absolute;
		top: 0;
		left: 0;
	}
	@media (min-width:992px) {
		& {
			background-position: 0 -150px;
		}
	}
}
button.c-head__scroll {
	background: none;
	border: 0;
}
.c-head__icon-down {
	font-size: 25px;
	bottom: 10px;
	color: #fff;
	animation: up-down 1.1s ease infinite 2s;
	@media (min-width:992px) {
		& {
			bottom: 45px;
			animation: up-down992 1.1s ease infinite 2s;
		}
	}
}

/* advantage */
.c-advantage__icon {
	font-size: 80px;
}
.c-advantage__text {
	text-align: center;
	font-size: 16px;
   font-weight: 500;
}

/* loan */
.loan {
	min-height: 90vh;
	display: flex;
	align-items: center;
	background: url('../img/loanbg.jpg') center top/cover no-repeat;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background-color: #000000ab;
		position: absolute;
		top: 0;
		left: 0;
	}
	@media (min-width:992px) {
		& {
			background-position: 0 -150px;
		}
	}
}

/* reviews */
.c-reviews__rowmb-5 {
	margin: 0 0 120px 0;
}

/* qa */
.accordion-button {
	font-size: 18px;
}
.c-qa__icon {
	font-size: 25px;
	margin-left: 10px;
	transition: all 0.8s ease 0s;
}
.accordion-button:not(.collapsed) {
	.c-qa__icon {
		transform: rotate(0.5turn);
		transition: all 0.8s ease 0s;
	}
}
.accordion-button:not(.collapsed) {
	color: black;
	background-color: #fff;
	box-shadow: none;
}
.accordion-button:focus {
	box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
	background-image: none;
}
.accordion-button::after {
	content: "";
	background-image: none;
}

/* contacts */
.contacts {
	height: auto;
	padding: 0;
	@media (min-width:768px) {
		& {
			height: 90vh;
		}
	}
}
.c-contacts__infoblock {
	@media (min-width:768px) {
		& {
			position: absolute;
			left: 200px;
		}
	}
	@media (min-width:768px) {
		& {
			left: 250px;
		}
	}
	@media (min-width:1200px) {
		& {
			left: 300px;
		}
	}
}
.c-contacts__mapwrapper {
	width: 100%;
	min-height: 400px;
	@media (min-width:768px) {
		& {
			height: 100%;
		}
	}
}

/* bid */
.c-bid__agreement {
	font-size: 15px;
}

/* footer */
.footer {
	background: #5c5b5b;
}
.c-footer__text, .c-footer__link {
	font-size: 12px;
	line-height: 1.55;
	@media (min-width:1200px) {
		& {
			font-size: 14px;
		}
	}
}


/* modal */
.c-modal__closebtn {
	right: 10px;
	top: 10px;
	z-index: 100;
	@media (min-width:576px) {
		& {
			right: 20px;
			top: 20px;
		}
	}
}

/* absolute-call */
.absolute-call {
	right: 40px;
	bottom: 40px;
	width: 40px;
	height: 40px;
	overflow: hidden;
}
i.c-absolute-call__icon::before {
	transform: rotate(0) scale(1, 1);
}
.c-absolute-call__toggler, .c-absolute-call__toggler-sm {
	background: #199c68;
	&:hover > i.c-absolute-call__icon::before {
		animation: absolute-call-anim 2s ease 1;
	}
}
.c-modal-call__text {
	font-size: 18px;
	font-family: "Roboto";
}